.card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid black;
    width: 250px;
    text-align: center;
    background-color: #fff;
}

.card-detalle {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid black;
    width: 25%;
    height: 25%;
    text-align: center;
    background-color: #e0d7d7;
}

h3 {
    font-family: "Work Sans", sans-serif;
}

h5 {
    font-size: 15px;
}

.img-catalogo {
    width: 200px;
}

.img-producto {
    width: 250px;
    height: 230px;

}