.filtro-categorias {
    display: flex;
    justify-content: right;
    background-color: rgb(104, 104, 189);
    padding: 5px;
    justify-content: right;
    margin: 10px;
}

.filtro {
    color: aliceblue;
    font-size: 20px;
    margin-top: 10px;
    margin-right: 30px;

}

.seleccion-categoria {
    padding: 5px;
    margin: 10px;
    font-size: 15px;
}