.btn-cart {
    background-color: transparent;
    cursor: pointer;
    border: none;
    position: relative;
    margin: 50px 130px;
}

.cantidad{
    position: absolute;
    color: blue;
    background-color: antiquewhite;
    border-radius: 50%;
    padding: 6px;
    margin: 4px;
}