.nav {
  display: flex;
  background-color: rgba(228, 153, 14, 0.836);
  padding: 8px;

}

.barra {
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: center;
  padding: 10px;
  margin: 10px 60px;
  text-decoration: none;
  gap: 30px;
  flex-wrap: wrap;
}

.mi-logo {
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto;
}

.menu {
  list-style: none;
  margin: 24px 60px;
  text-decoration: none;
  gap: 30px;
  flex-wrap: wrap;
  font-size: 20px;
  font-family: "Work Sans", sans-serif;
}